// font
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$txt-bold: white;
$txt-lighter: #B5B8C1;
$txt-base: #747C94;

// breakpoints
$break-max: 1500px;
$break-medium: 720px;
$break-small: 512px;

// sizes
$card-radius: 5px;
$btn-radius: 3px;

// colors
$bg-1: #0C0E14;
$bg-2: #11141C;
$bg-3: #191C24;
$bg-4: #272B36;

$primary-logo: #EF5E86;

// color backgrounds
$cbg-blue: #161B38;
$cbg-blue-text: #A8BBFC;

// buttons
$btn-primary: #DC1C56;
$btn-primary-hover: #b41746;
$btn-primary-text: white;
